[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run server"

[[workflows.workflow]]
name = "Run server"
author = 40159077
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
